/*CONFIGURAÇÕES GERAIS DO SITE*/
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

/* ITENS DA BARRA DE NAVEGAÇÃO */
.navbar {
    background: #0057b7; 
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 4000px;
    margin: 0 auto;
    padding: 0 50px;
    font-family: 'Monoton', cursive;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px #fff;
}

#logo {
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: #0057b7;
    background-size: 100%;
    -webkit-text-fill-color: solid;
    -moz-text-fill-color: solid;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;

}


.navbar_menu {
    display: flex;
    align-items:center;
    list-style: none;
}

.navbar_item {
    height: 80px;
    font-size:1.2rem;
}

.navbar_links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
}


.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 8vw;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ffd700;
    color: #0057b7;
    
}


/* RESPONSIVIDADE DA BARRA DE NAVEGAÇÃO */
@media screen and (max-width: 960px) {
    .navbar_container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 768px;
      padding: 0;
    }
  
    .navbar_menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
    }
  
    .navbar_menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.6rem;
    }
  
    #logo {
      padding-left: 25px;
    }
  
    .navbar_toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
    .navbar_item {
      width: 100%;
    }
  
    .navbar_links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar_btn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    #mobile {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar_toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  /* FORMULÁRIO */

  .form {
    
    margin-top: 6rem;
    margin-bottom: 10rem;
  }
  .container {
    width: 480px;
    height: 680px;
    position: relative;
    margin: 6% auto;
    background: #0058b75d;   
    border-radius: 30px;
    padding: 5px;
  }

  .bton {
    text-align: center;
    width: 250px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #00000081;
    border-radius: 30px;
    background: #ffd207;
  }


  .toggle_btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
  }
  
  .inputs{
    margin-left: 50px;
    margin-right: 50px;
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.3s;
  }

  .input {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
  }

  .checkbox {
    margin: 30px 10px 30px 0;
  }

  span {
    font-size: 1rem;
  }

  .submit {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 30px;
    background: #ffd207;
    margin-bottom: 50px;
  }

  #login {
    left: 50px;
  }
  #cadastro{
    left: 50px;
  }

  a {
    text-decoration: none;
    font-size: 1rem;
  }


  /* RODAPÉ */
.footer_container {
  background-color: #0057b7;
  padding: 5rem o;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
}

#footer_logo {
  -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: #0057b7;
    background-size: 100%;
    -webkit-text-fill-color: solid;
    -moz-text-fill-color: solid;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer_links {
  width: 100%;
  max-width: 1000px;
  display:flex;
  justify-content: center;
}

.footer_link-wrapper {
  display: flex;
}

.footer_link-items {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer_link-items h2{
  margin-bottom: 16px;
}
.footer_link-items > h2 {
  color: #fff;
}
.footer_link-items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.footer_link-items a:hover {
  color: #ffd207;
  transition: 0.3s ease-out;
}

.redes_sociais {
  max-width: 1000px;
  width: 100%;
}

.redes_sociais-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 2rem auto;
}

.website_rights {
  color: #fff;
}

/* RESPONSIVIDADE RODAPÉ */
@media screen and (max-width:768px) {
  .footer_links {
    padding-top: 2rem;
  }
  #footer_logo {
    margin-bottom: 2rem;
  }
  .website_rights {
    margin-bottom: 2rem;
  }
  .footer_link-wrapper {
    flex-direction: column;
  }
  
  .redes_sociais-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width:480px) {
  .footer_link-items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
} 
  /* BARRA DE SCROLL PERSONALISADA */
  ::-webkit-scrollbar{
    width:10px;
  }
  ::-webkit-scrollbar-track{
    background-color: #3779c0;
  }
  ::-webkit-scrollbar-thumb{
    background: #ffd700;
  }
